body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  &.fix{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    .wrapper{
      overflow: hidden;
      position: relative;
    }
  }
}
